.logout-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
.search-input {
  width: 300px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 45px;
}
.home-container {
  display: flex;
  justify-content: space-between;
}
.login-container {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card{
    width: 700px;
    margin-top: 50px;
}